<html>
    <head>
        <title>Pi Setup</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/test.css">
        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type='text/javascript'>
            $(document).ready(function(){
            });
        </script>
    </head>

    <body>
            <div class="text-center">
                <br>
                <br>
                <h1>Host Name Successfuly Set!</h1>
                <h3>Waiting until the next steps are taken...</h3>
                <br>
            </div>
    {{ template "footer.html" . }}