<html>
  <head>
    <title>Champagne</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/test.css" />
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        $("#btnFetch").click(function() {
          $(this).prop("disabled", true);
          $(this).html(
            `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>Loadingg...`
          );
        });

        var urlParams = new URLSearchParams(window.location.search);
        hostname = urlParams.get("hostname");
        window.location.pathname = "/hostname/" + hostname;
      });
    </script>
  </head>

  <body>
    <div class="text-center">
      <br />
      <br />
      <br />
      <br />
      <h3>Checking</h3>
      <br />
      <div
        class="spinner-border"
        role="status"
        style="width: 10rem; height: 10rem;"
      >
        <span class="sr-only">Please Wait...</span>
      </div>
    </div>
    {{ template "footer.html" . }}
  </body>
</html>
