<nav class="navbar fixed-bottom bg-light">
        <span>
			{{if ne .ActualHostname "raspberrypi"}}
				Current Hostname: {{ .ActualHostname }}
			{{else}}
				{{if not .DesiredHostname}}
					Hostname Not Set
				{{else}}
					Setting Hostname To: {{.DesiredHostname}}
				{{end}}
			{{end}}
        </span>

        <span>
			IP Address(s): 
			{{ range $key, $value := .IPs }}
			{{ $key }}: {{ $value }}
			{{ end }}
        </span>
        <button 
            class="btn btn-outline-danger" 
            type="button"
            onClick="window.location.pathname = '/reboot'"
        >Reboot</button>
    </nav>
</body>
</html>
