<html>
    <head>
        <title>Champagne</title>
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/static/css/test.css">
        <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
        <script src="/static/js/jquery-3.4.1.min.js"></script>
        <script src="/static/js/popper.min.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <script type='text/javascript'>
            $(document).ready(function(){
                $.ajax({
                    url : "",
                    type : 'GET',
                    
                    success: function(data) {
                    }
                });
            });
        </script>
    </head>

    <body>
        <div class="container">                
            <div id="hostname-form" style="margin-top: 20%">
                <h1>The host name you entered is already taken.</h1>
                <ul>
                    <li>Please restart and verify that the host name was inputed correctly</li>
                    <li>Please check QIP and reslove the issue</li>
                </ul>
                <div class="text-center">
                    <button class="btn btn-lg btn-danger" id="restartButton">Restart</button> 
                </span>
            </div> 
        </div>
        {{ template "footer.html" . }}
    </body>
</html>