<html>
  <head>
    <title>Champagne</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/test.css" />
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {
        setTimeout(() => {
          window.location.reload();
        }, 5000);
      });
    </script>
  </head>

  <body>
    <div class="text-center">
      <br />
      <br />
      <h1>{{.ProgressTitle}}</h1>

      {{if not .Error}}
      <div class="progress" style="margin: 10%">
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
          role="progressbar"
          style="width: {{.ProgressPercent}}%"
          aria-valuenow="{{.ProgressPercent}}"
          aria-valuemin="0"
          aria-valuemax="100"
        ></div>
      </div>
      <h3>{{.ProgressMessage}}</h3>
      <br />
      {{else}}
      <h3>error during {{.ProgressMessage}}</h3>
      <h4>{{.Error}}</h4>
      <button
        class="btn btn-outline-danger"
        type="button"
        onclick="window.location.pathname = '/pages/redirect'"
      >
        Start Over
      </button>
      {{end}}
    </div>
    {{ template "footer.html" . }}
  </body>
</html>
