<html>
  <head>
    <title>Champagne</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/test.css" />
    <script src="/static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function() {});
    </script>
  </head>

  <body>
    <div class="container">
      <div id="hostname-form">
        <h2>
          The IP Address for the hostname you entered ({{.DesiredHostname}}) is
          currently configured for a different subnet than the one this device
          is currently connected to.
        </h2>
        <h5>
          You can continue with the first half of the configuration process now,
          but the device will not be able to complete its setup until it's
          connected to the correct subnet.
        </h5>
        <br />
        <h4>Troubleshooting</h4>
        <ul>
          <li>Check that the switch is configured properly</li>
          <li>
            Check that this device is connected to the correct switch port
          </li>
          <li>Check that the DNS entry is correct</li>
          <ul>
            <li>IP in DNS for {{.DesiredHostname}}: {{.AssignedIP}}</li>
            <li>
              Current IP(s) of device: {{range $key, $value := .IPs }}
              {{$value}} {{end}}
            </li>
          </ul>
        </ul>
        <div class="text-center">
          <button
            class="btn btn-primary btn-lg"
            id="continueButton"
            onclick="window.location.pathname = '/ignoreSubnet'"
          >
            Continue Anyways
          </button>
          <button
            class="btn btn-danger btn-lg"
            id="restartButton"
            onclick="window.location.pathname = '/pages/redirect'"
          >
            Start Over
          </button>
        </div>
      </div>
    </div>
    {{ template "footer.html" . }}
  </body>
</html>
